<div class="container center-div">
<div class="row">
<h2 class="devise-title">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.text_field :first, placeholder: "First name", autofocus: true, class: "form-control input-lg" %>
  </div>

  <div class="form-group">
    <%= f.text_field :last, placeholder: "Last name", autofocus: true, class: "form-control input-lg" %>
  </div>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, class: "form-control input-lg" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
  <hr class="devise-links-hr">
    <i class="devise-text">Leave blank if you don't want to change</i>
    <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "Password" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-lg", placeholder: "Password confirmation" %>
  </div>

  <div class="form-group">
    <i class="devise-text">We need your current password to confirm your changes</i>
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control input-lg", placeholder: :current_password %>
  </div>

  <div class="form-group">
    <%= f.submit "Update", class: "btn btn-default btn-lg btn-block"  %>
  </div>
<% end %>
  <hr class="devise-links-hr">
<%= button_to  "Back", :back, class: "btn btn-default btn-lg btn-block" %>

<h4 class="text-center">Unhappy?</h4>

<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-default btn-inline" , method: :delete %>


</div></div>
