<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid nav-wrapper">

		<div class="nav-item">
			<a class="navbar-brand" href="#">DevBook</a>
			</div>
		<div class="nav-item">
			<form class="form-inline nav-search" role="search" id="search-overload">
				<div>
					<label for="search">
					<%= icon('search') %></label>
					<input type="text" id="input-search" placeholder="Search Ruby" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false">
				</div>
			</form>
		</div>
		<ul class="nav nav-item navbar-right user-pref">
			<li class="li-info">
				<a href="#" class="dropdown-toggle use-info" data-toggle="dropdown">
					<%= icon("question-circle-o") %>
				</a>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle user-pref-toggle" data-toggle="dropdown"><img class="nav-user-avatar" src="http://placehold.it/30x30/"></a>
				<ul class="dropdown-menu user-pref-dropdown">
					<li class="user-info">
						<a href="#">
							<img class="nav-user-avatar" src="http://placehold.it/45x45/">
						</a>
					</li>
					<% if user_signed_in? %>
						<li>
							<a href="#">Settings or whatever</a>
						</li>
						<li>
							<%= link_to "Logout", destroy_user_session_path, method: "DELETE" %>
						</li>
					<% else %>
						<li>
							<%= link_to "Login", new_user_session_path %>	
						</li>
						<li>
							<%= link_to "Signup", new_user_registration_path %>	
						</li>
					<% end %>
				</ul>
			</li>
		</ul>

	</div>
</nav>

<div class="container-fluid">
	<div class="row">


			<div class="col-xs-12 col-sm-push-3 col-sm-9 col-md-push-2 col-md-10 main">
				<div class="main-scrollable">
					<!-- main content -->

					<div class="row component-row" id="method-row">
						<div class="col-sm-12 col-md-6 component-col col-a">
							<%= render "shared/panel", type: "description", title: "<h4>Description</h4>", 	html: @meth[:description] ? @meth[:description] : "<p></p>" %>
							<%= render "shared/panel", type: "syntax", 			title: "<h4>Syntax</h4>", 			html: @meth[:signature] 	? @meth[:signature] 	: "<p></p>" %>
						</div>
						<div class="col-sm-12 col-md-6 component-col col-b">
							<%= render "shared/panel", type: "examples", 		title: "<h4>Examples</h4>", 		html: @meth[:example] 		? @meth[:example] 		: "<p></p>" %>
							<%= render "shared/panel", type: "source", 			title: "<h4>Source</h4>", 			html: @meth[:source] 			? @meth[:example] 		: "<p></p>" %>
						</div>
					</div>

					<div class="row component-row" id="class-row" hidden>
						<% articles = Article.by_klass(@class) %>
						<div class="col-sm-12 col-md-6 component-col col-a">
							<% articles.each_with_index do |article, idx| %>
								<% next if idx.odd? %>
								<%= render "shared/panel", type: "article-#{idx}", title: article[:title], html: article[:text] %>			
							<% end %>
						</div>

						<div class="col-sm-12 col-md-6 component-col col-b">
							<% articles.each_with_index do |article, idx| %>
								<% next if idx.even? %>
								<%= render "shared/panel", type: "article-#{idx}", title: article[:title], html: article[:text] %>			
							<% end %>
						</div>
						
					</div>

				</div>
			</div>

		<!-- sidbar -->
		<div class="col-xs-12 col-sm-pull-9 col-sm-3 col-md-pull-10 col-md-2 sidebar">

			<div class="language-details">
				<h2 class="language-name">
					<%= @lang[:name].capitalize %>
				</h2>
			</div>

			<!-- fragment caching -->
			<% cache do %>
				<div class="sidebar-scrollable">
					<div id="jstree">
						<ul class="classes-list">
							<% @classes.each do |klass| %>
								<li>
									<a href="#" class="js-class-select" data-class-id="<%= klass[:id] %>">
										<%= klass[:name] %>
									</a>
									<ul class="methods-list">
										<% klass.meths.reverse.each do |method| %>
											<li>
												<a href="#" class="js-method-select" data-method-id="<%= method[:id] %>">
													<%= method[:name] %>
												</a>
											</li>
										<% end %>
									</ul>
								</li>
							<% end %>
						</ul>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>




