<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid nav-wrapper">

		<div class="nav-item">
			<a class="navbar-brand" href="#">DocPages</a>
		</div>
		<div class="nav-item">
			<form class="form-inline nav-search" role="search">
				<div>
					<label for="search">
					<%= icon('search') %></label>
					<input type="text" id="input-search" placeholder="Search Ruby" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false">
				</div>
			</form>
		</div>
		<ul class="nav nav-item navbar-right user-pref">
			<li class="li-info">
				<a href="#" class="dropdown-toggle use-info" data-toggle="dropdown">
					<%= icon("question-circle-o") %>
				</a>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle user-pref-toggle" data-toggle="dropdown"><img class="nav-user-avatar" src="http://placehold.it/30x30/"></a>
				<ul class="dropdown-menu user-pref-dropdown">
					<li class="user-info">
						<a href="#">
							<img class="nav-user-avatar" src="http://placehold.it/45x45/">
						</a>
					</li>
					<% if user_signed_in? %>
						<li>
							<a href="#">Settings or whatever</a>
						</li>
						<li>
							<%= link_to "Logout", destroy_user_session_path, method: "DELETE" %>
						</li>
					<% else %>
						<li>
							<%= link_to "Login", new_user_session_path %>	
						</li>
						<li>
							<%= link_to "Signup", new_user_registration_path %>	
						</li>
					<% end %>
				</ul>
			</li>
		</ul>

	</div>
</nav>

<!-- sidbar -->
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3 col-md-2 sidebar">
			<div class="language-details">
				<span class="glyphicon glyphicon-icon" aria-hidden="true"></span>
				<h2 class="language-name">
					<%= @lang[:name].capitalize %>
				</h2>
			</div>



			<div id="jstree">
				<ul class="classes-list">
					<% @classes.each do |klass| %>
						<li>
							<a href="#" class="js-class-select" data-class-id="<%= klass[:id] %>">
								<%= klass[:name] %>
							</a>
							<ul class="methods-list">
								<% klass.meths.reverse.each do |method| %>
									<li>
										<a href="#" class="js-method-select" data-method-id="<%= method[:id] %>">
											<%= method[:name] %>
										</a>
									</li>
								<% end %>
							</ul>
						</li>
					<% end %>
				</ul>
			</div>



		</div>
		<div class="col-xs-9 col-md-10">
				
		<!-- main content -->
		<div class="row" id="method-row">
			<%= render "shared/panel", type: "description", html: @meth[:description] ? @meth[:description] : "<p></p>" %>
			<%= render "shared/panel", type: "syntax", html: @meth[:signature] ? @meth[:signature] : "<p></p>" %>
			<%= render "shared/panel", type: "examples", html: @meth[:example] ? @meth[:example] : "<p></p>" %>
			<%= render "shared/panel", type: "source", html: @meth[:source] ? @meth[:example] : "<p></p>" %>
		</div>

		<div class="row" id="class-row">
		</div>


		</div>
	</div>
</div>
