<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid nav-wrapper">

		<div class="nav-item">
			<a class="navbar-brand" href="#">DocPages</a>
		</div>
		<div class="nav-item">
			<form class="form-inline nav-search" role="search">
				<div>
					<label for="search">
					<%= icon('search') %></label>
					<input type="text" id="input-search" placeholder="Search Ruby" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false">
				</div>
			</form>
		</div>
		<ul class="nav nav-item navbar-right user-pref">
			<li class="li-info">
				<a href="#" class="dropdown-toggle use-info" data-toggle="dropdown">
					<%= icon("question-circle-o") %>
				</a>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle user-pref-toggle" data-toggle="dropdown"><img class="nav-user-avatar" src="http://placehold.it/30x30/"></a>
				<ul class="dropdown-menu user-pref-dropdown">
					<li class="user-info"><a href="#">
						<img class="nav-user-avatar" src="http://placehold.it/45x45/">
						</a>
					</li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</li>
		</ul>

	</div>
</nav>

<!-- sidbar -->
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3 col-md-2 sidebar">
			<div class="language-details">
				<span class="glyphicon glyphicon-icon" aria-hidden="true"></span>
				<h2 class="language-name">
					<%= @lang[:name].capitalize %>
				</h2>
			</div>
			<div class="js-class-name">
				<%= @class[:name].capitalize %>
			</div>
			<div id="jstree_methods">
				<ul>
					<% Array.instance_methods(false).sort.each do |method| %>
					<li><a href="#"><%= method %></a></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="col-xs-9 col-md-10">
				
		<!-- main content -->
		<div class="row">
			<%= render "panel", type: "description", html: @meth[:description] %>
			<%= render "panel", type: "syntax", html: @meth[:signature] %>
			<%= render "panel", type: "examples", html: @meth[:example] %>
			<%= render "panel", type: "source", html: @meth[:source] %>
		</div>
<!--  -->



		</div>
	</div>
</div>
