

<div class="container-fluid">
	<div class="row">


			<div class="col-xs-12 col-sm-push-3 col-sm-9 col-md-push-2 col-md-10 main">
				<div class="main-scrollable">
					<!-- main content -->

					<div class="row component-row" id="method-row">
						<div class="col-sm-12 col-md-6 component-col col-a">
							<%= render "shared/panel", type: "description", title: "<h4>Description</h4>", 	html: @meth[:description] ? @meth[:description] : "<p></p>" %>
							<%= render "shared/panel", type: "syntax", 			title: "<h4>Syntax</h4>", 			html: @meth[:signature] 	? @meth[:signature] 	: "<p></p>" %>
						</div>
						<div class="col-sm-12 col-md-6 component-col col-b">
							<%= render "shared/panel", type: "examples", 		title: "<h4>Examples</h4>", 		html: @meth[:example] 		? @meth[:example] 		: "<p></p>" %>
							<%= render "shared/panel", type: "source", 			title: "<h4>Source</h4>", 			html: @meth[:source] 			? @meth[:example] 		: "<p></p>" %>
						</div>
					</div>

					<div class="row component-row" id="class-row" hidden>
						<% articles = Article.by_klass(@class) %>
						<div class="col-sm-12 col-md-6 component-col col-a">
							<% articles.each_with_index do |article, idx| %>
								<% next if idx.odd? %>
								<%= render "shared/panel", type: "article-#{idx}", title: article[:title], html: article[:text] %>			
							<% end %>
						</div>

						<div class="col-sm-12 col-md-6 component-col col-b">
							<% articles.each_with_index do |article, idx| %>
								<% next if idx.even? %>
								<%= render "shared/panel", type: "article-#{idx}", title: article[:title], html: article[:text] %>			
							<% end %>
						</div>
						
					</div>

				</div>
			</div>

		<!-- sidbar -->
		<div class="col-xs-12 col-sm-pull-9 col-sm-3 col-md-pull-10 col-md-2 sidebar">

			<div class="language-details">
				<i class="language-icon devicon-ruby-plain colored"></i>
				<h2 class="language-name">
					<%= @lang[:name].capitalize %>
				</h2>
			</div>

			<!-- fragment caching -->
			<% cache do %>
				<div class="sidebar-scrollable">
					<div id="jstree">
						<ul class="classes-list">
							<% @classes.each do |klass| %>
								<li data-jstree='{"icon":"fa fa-gears fa-border"}'>
									<a href="#" class="js-class-select" data-class-id="<%= klass[:id] %>">
										<%= klass[:name] %>
									</a>
									<ul class="methods-list">
										<% klass.meths.reverse.each do |method| %>
											<li data-jstree='{"icon":"fa fa-medium fa-border"}'>
												<a href="#" class="js-method-select" data-method-id="<%= method[:id] %>">
													<%= method[:name] %>
												</a>
											</li>
										<% end %>
									</ul>
								</li>
							<% end %>
						</ul>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>




