<!DOCTYPE html>
<html>
<head>
  <title>DocPage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "devise" if controller_name !~ /\Asite/ %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/navbar" if controller_name =~ /\Asite/ %>
<%= render "shared/messages" %>

<div class="body-wrapper">
	<%= yield %>
</div>
			<%#= render "shared/footer" %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "storeState" if user_signed_in? %>

</body>
</html>
