<!DOCTYPE html>
<html>
<head>
  <title>DocPage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/messages" %>

<div class="body-wrapper">
	<%= yield %>
</div>
			<%= render "shared/footer" %>

</body>
</html>
